<%- include("header") %>    
    
    <div class="box" id="heading">
        <h1> <%= listTitle %></h1>
    </div>
    <div class="box">
        <% newListItems.forEach(element => { %>
            <div class="item">
                <input type="checkbox">
                <p>  <%= element %> <p> 
            </div>
        <% }); %>

            <form class="item" method="post" action="/">
                <input type="text" name="listItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="addListItem" value= "<%= listTitle %>">+</button>
            </form>
    </div>

<%- include("footer") %>    