<%- include("header") %>    
    
    <div class="box" id="heading">
        <h1> <%= listTitle %></h1>
    </div>
    <div class="box">
        <% newListItems.forEach(element => { %>
            <form class="deleteItem" method="post" action="/delete">
                <div class="item">
                    <input type="checkbox" name="checkbox" value= "<%= element._id %>" onchange="this.form.submit()">
                    <p>  <%= element.name %> <p> 
                </div> 
            </form>

        <% }); %>

            <form class="item" method="post" action="/">
                <input type="text" name="listItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="addListItem" value= "<%= listTitle %>">+</button>
            </form>
    </div>

<%- include("footer") %>    